## Emacs Backup Files
*~
\#*\#

## Vim Temp Files
*.swp

# Object files
*.o
*.ko
*.obj
*.elf

# Temporary files/directories
**/.dep/**
**/build/**
.*.env_backup
.profile
.bash_history
tools/gcc/gcc-arm-none-eabi-*
tools/emscripten/emsdk

# Doxygen documentation
**/docs/html
**/docs/latex
**/docs/doxygen*

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables/Binaries
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.bin
*.dfu
*.prlgunit
*.mnlgxdunit
*.ntkdigunit
*.drmlgunit
*.nts1mkiiunit
*.nts3unit

# Debug files
*.dSYM/
*.su

.DS_Store
platform/.bash_history
platform/.sudo_as_admin_successful
platform/.profile
platform/.minilogue-xd.env_backup/session_37c244d6-2e13-4514-9005-a3aa7e24187c
.vscode/settings.json
